<div class="contact-main">
	<img id="button" class="icon-menu" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-black.svg">
	<divc class="content container">
	<h1>Get the latest updates from Stories</h1>
	</div>
</div>