<div class="contact-main">
	<img id="button" class="icon-menu" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-black.svg">
	<div class="content container">
		<h1>Thanks. We'll be in touch.</h1>
	</div>
</div>